global
    maxconn 256

defaults
    mode tcp
    timeout connect 3s
    timeout client 30s
    timeout server 30s

frontend pg_frontend
    bind 127.0.0.1:5432
    default_backend pg_backend

backend pg_backend
    option httpchk GET /primary
    http-check expect status 200

    default-server inter 1s fall 2 rise 1 on-marked-down shutdown-sessions

    server proxcenter-1 PEER1_IP:5432 check port 8008
    server proxcenter-2 PEER2_IP:5432 check port 8008
    server proxcenter-3 PEER3_IP:5432 check port 8008
